# Dependencies
node_modules/
.pnp
.pnp.js

# Build
.next/
out/
build/
dist/

# Env (IMPORTANT: ne jamais commiter les clés)
.env
.env.local
.env*.local
.env.development.local
.env.test.local
.env.production.local

# Debug / Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE / OS
.idea
.vscode
.DS_Store
*.swp
*.swo

# Prisma
prisma/*.db
prisma/*.db-journal

# Hardhat
contracts/cache
contracts/artifacts
contracts/typechain-types
contracts/coverage
contracts/coverage.json
